<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width" , initial-scale="1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login1.css') }}">
</head>
<body>
<script src="{{ url_for('static', filename='javascript/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/sha1.js') }}"></script>
<div class="login">
		<h3>FIRST FLAG: {{flag}}</h3>
		<div id="cresponse">
		</div>
			<form action="" method="post">
                <input type = "file" name = "file" id="file" accept=".zip"/>
				<label>Password</label>
				<input class="form-control" type="password" name="password" id="cpass" placeholder="Password" />
				<input type="submit" style="margin-top: 12px;" value="Upload File" class="c_submit form-control btn btn-success" />
			</form>
			<form action="/logout">
				<button type="submit" class="btn btn-primary btn-block btn-medium">Logout.</button>
			</form>
		</div>
		<script>
			// Look's like weak JavaScript auth script :)
			$(".c_submit").click(function(event) {
				event.preventDefault();
				var p = $("#cpass").val();
				if($.sha1(p) == "{{hash}}"){
				    if(document.location.href.indexOf("?p=") == -1) {  
                        $.ajax({
							url: '{{url_upload}}',
							type: 'post',
							dataType: 'json',
							data: new FormData(document.querySelector("form")),
							cache: false,
							contentType: false,
							processData: false,
							complete: function (data) {              
								document.location="{{url_flag}}?pass="+p;    
							}
						});
				    }
				} else {
				    $("#cresponse").html("<div class='alert alert-danger'>Wrong password sorry.</div>");
				}
            });
		</script>
	</body>